.logo{
    width:62.85px;
    height: 62.85px;
}

nav{
    border-bottom: 1px solid #000;
    background: rgba(255, 255, 255, 0.69);
    
    padding: 0.7rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

h1{
    color: #000;
    font-family: "Inter";
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.075rem;
    text-decoration-line: underline;

    cursor: pointer;
}

h1:hover{
    color:#008995;
}
.logout{
    color: #fff !important;
    background-color: #d12c2c;;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid #fff;
}
.logout:hover{
    color:  #d12c2c !important;
    background-color:#fff;;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid  #d12c2c;
}

.logo , .profil-logo{
    cursor: pointer;
}
