<app-header></app-header>
<div class="container">
    <h1>Operation Detail</h1>
    <div class="detail-container">
        <div class="info-div">
            <div class="subinfo-div">
                <label for="cender" >SENDER</label>
                <p>:</p>
            </div>
            <input id="sender" placeholder="Mohamed Hamdani" />
        </div>
        <div class="info-div">
            <div class="subinfo-div">
                <label for="reciever">RECIEVER</label>
                <p>:</p>
            </div>
            <input id="reciever" placeholder="Ikram Jaa" />
        </div>
        <div class="info-div">
            <div class="subinfo-div">
                <label for="amount">AMOUNT</label>
                <p>:</p>
            </div>
            <input id="amount" type="number" placeholder="A000000" />
        </div>
        <div class="info-div">
            <div class="subinfo-div">
                <label for="date">DATE</label>
                <p>:</p>
            </div>
            <input id="date" type="date" placeholder="+212000000000" />
        </div>
    </div>
</div>
