<app-header></app-header>
<div class="container">
    <h1>Profil</h1>
    <div class="detail-container">
        <div class="info-div">
            <div class="subinfo-div">
                <label for="first-name" >First Name</label>
                <p>:</p>
            </div>
            <input id="first-name" placeholder="mohamed" />
        </div>
        <div class="info-div">
            <div class="subinfo-div">
                <label for="last-name">Last Name</label>
                <p>:</p>
            </div>
            <input id="last-name" placeholder="hamdani" />
        </div>
        <div class="info-div">
            <div class="subinfo-div">
                <label for="cne">CNE</label>
                <p>:</p>
            </div>
            <input id="cne" placeholder="A000000" />
        </div>
        <div class="info-div">
            <div class="subinfo-div">
                <label for="phone">Phone</label>
                <p>:</p>
            </div>
            <input id="phone" placeholder="+212000000000" />
        </div>
        <div class="info-div">
            <div class="subinfo-div">
                <label for="email">Email</label>
                <p>:</p>
            </div>
            <input id="email" placeholder="example@ensa.ma" />
        </div>
        <button>SAVE</button>
    </div>
</div>
