<app-header></app-header>
<div class="container">
    <h1>Transfers History</h1>
    <div class="transfers-container">
        <div class="transfers-sub-container">
            <div *ngFor="let transfer of transfers" (click)="toOperationDetail()" class="transfer-div">
                <h4 class="datetime">{{transfer["transferDTO"]["timestamp"] | date:'dd/MM/yyyy HH:mm'}}</h4>
                <h4 class="clients">{{transfer["customer"]["firtName"]}} {{transfer["customer"]["lastName"]}} -> {{transfer["beneficiary"]["firstName"]}} {{transfer["beneficiary"]["lastName"]}}</h4>
                <h4 class="amount">{{transfer["sign"]}} {{transfer["transferDTO"]["amount"] | number:'1.2-2'}}Dh</h4>
            </div>
        </div>
    </div>
</div>
