.container{
    padding: 3rem 25vw;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.container > h1{
    color: #000;
    font-family: Inter;
    font-size: 2.0625rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.12375rem;

    text-align: center;
}
.transfers-container{
    border-radius: 1.25rem;
    border: 3px solid #B4B4B4;
    background: rgba(255, 255, 255, 0.95);

    padding:2rem 1.75rem;
}

.transfers-sub-container{
    /* border-radius: 1.25rem; */
    scrollbar-width: thin;
    max-height: 60vh;
    overflow-y: auto;
}

.transfers-container:hover{
    border-color:#7e7e7e;
}

.transfer-div{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    gap:1.2rem;

    padding: 1rem 2rem;

    /* border-bottom: 2px #B4B4B4 solid; */
    border-radius: 1.25rem;

}
.transfer-div:hover{
    background: #e9e8e8;
    cursor: pointer;
}

.transfer-subdiv{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.transfer-div .datetime{
    color: #777;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.transfer-div .clients{
    color: #000;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.transfer-div .amount{
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
