.container{
    padding: 3rem 25vw;
    display: flex;
    flex-direction: column;
    row-gap: 3.5rem;
}

.container > h1{
    color: #000;
    font-family: Inter;
    font-size: 2.0625rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.12375rem;

    text-align: center;
}


.beneficiaries-container{
    border-radius: 1.25rem;
    border: 3px solid #B4B4B4;
    background: rgba(255, 255, 255, 0.95);

    padding:1rem 1.75rem;
}

.beneficiaries-sub-container{
    /* border-radius: 1.25rem; */
    scrollbar-width: thin;
    max-height: 50vh;
    overflow-y: scroll;
}

.beneficiaries-container:hover{
    border-color:#7e7e7e;
}


.beneficiaries-sub-container button{
    color: #000;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 0.625rem;
    border: 2px solid #000;
    background: rgba(254, 255, 255, 0);
    
    padding:0.3rem 1rem;
}

.beneficiaries-sub-container button:hover{
    background-color: #FFC600;
    cursor: pointer;
}

.beneficiary-div{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    gap:1.2rem;

    padding: 1rem 2rem;

    /* border-bottom: 2px #B4B4B4 solid; */
    border-radius: 1.25rem;

}
.beneficiary-div:hover{
    background: #e9e8e8;
    cursor: pointer;
}

.beneficiary-subdiv{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.beneficiary-div .datetime{
    color: #777;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.beneficiary-div .clients{
    color: #000;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.beneficiary-div .phone{
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button{
    border-radius: 1.25rem;
    border: 3px solid #B4B4B4;
    background: rgba(255, 255, 255, 0.95);
    padding: 1rem;
    color: #000;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    max-width: 20vw;
    margin-left: auto;
}

button:hover{
    background-color: #FFC600 ;
}